# Built application files
*.apk
*.aar
*.ap_
*.aab

# Files for the ART/Dalvik VM
*.dex

# Kotlin
*.class
.kotlin/

# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android Studio
*.iml
.idea/
.cxx/
.externalNativeBuild/

# OS
.DS_Store
Thumbs.db

# Captures
/captures

# Keystore (do not commit)
*.jks
*.keystore
